@using JiraWorker.Services
@using Microsoft.Extensions.Options
@using JiraWorker.JiraApi

@inject IUserService _userService
@inject IOptions<JiraSettings> _settings

<span class="user">
    @UserName
    <img class="image" src="@AvatarUrl" alt="Avatar of @UserName"/>
</span>
